<div class="post">
    <div class="col thumbnail">
        <a href="{{url}}">
            <img src="{{imageUrl}}">
        </a>
    </div>
    <div class="post-content">
        <div class="title">
            <a href="{{url}}">
                {{title}}
            </a>
        </div>
        <div class="details">
            {{#if description}}
                <p>{{description}}</p>
            {{else}}
                <p>No description in it’s place</p>
            {{/if}}
            <div class="info">
                submitted {{date}} ago by pesho
            </div>
            <div class="controls">
                <ul>
                    {{#if isAuthor}}
                        <li class="action"><a class="editLink" href="#/posts/edit/{{postId}}">edit</a></li>
                        <li class="action"><a class="deleteLink" href="#/posts/delete/{{postId}}">delete</a></li>
                    {{/if}}
                </ul>
            </div>

        </div>
    </div>
    <div class="clear"></div>
</div>